extends layout

block content
	.container
		h1.header.center.light-green-text Escribe tu pregunta
		.row.center
		div
			form.col.s12(ng-submit = 'qC.submitQuestion()' )
				.row
					.input-field.col.s12
						i.material-icons.prefix question_answer
						input#title(type='text',placeholder = 'Pregunta',ng-model='qC.question.title')
						label(for='title') Título
				.row
					.input-field.col.s12
						i.material-icons.prefix question_answer
						textarea#description.materialize-textarea(ng-model='qC.question.post')
						label(for='description') Descripción
				.row
					.input-field.col.s6
						select.browser-default(ng-model='qC.question.tag', ng-options='item.tag for item in qC.tags')
						
					.input-field.col.s3
						p
							input#Primaria.with-gap(name='escolaridad' type='radio')
							label(for='Primaria') Primaria
						p
							input#Secundaria.with-gap(name='escolaridad' type='radio')
							label(for='Secundaria') Secundaria

					.input-field.col.s3
						p
							input#Preparatoria.with-gap(name='escolaridad' type='radio')
							label(for='Preparatoria') Preparatoria
						p
							input#Universidad.with-gap(name='escolaridad' type='radio')
							label(for='Universidad') Universidad
				.row.center
					br
					br
					button.btn.waves-effect.waves.green(type='submit' name='go') Preguntar
						i.material-icons.left send
