extends layout

block content
	.parallax-container
			.section.no-pad-bot
				.container
					br
					br
					h1.header.center.white-text.text-lighten-2 ¿Problemas en la escuela?	
					.row.center
						h5.header.col.s12.white-text Tienes fortalezas, lo sabemos. Pero también tienes debilidades en lo que alguien más es bueno así que...
						h5.header.col.s12.white-text ¿Porque no compartir en lo que eres bueno a cambio de que alguien más te ayude?	
					.row.center
						a.btn-large.waves-effect.waves.light.green.lighten-1(href='/createQuestion') ¡Pregunta!
			.parallax
				img(src='/images/biblioteca.jpeg' width=1600 height=800)
	.row
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons flash_on
					h5.center Speeds up development
					p.light
					We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons group
					h5.center User Experience Focused
					p.light
					By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.
			.col.s12.m4
				.icon-block
					h2.center.light-blue-text
						i.material-icons settings
					h5.center Easy to work with
					p.light
					We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.
			br
			br
	.section
		.row.container
				h1 ¿Has escuchado alguna vez hablar del karma?
				p Trata a alguien como quieres que te traten, ayuda a alguien y esta persona buscará ayudarte. Es nuestra filosofía
