extends layout

block content
	.parallax-container
		.section.no-pad-bot
			.container
				br
				br
				h1.header.center.white-text.text-lighten-2 ¿Problemas en la escuela?	
				.row.center
					h5.header.col.s12.white-text Tienes fortalezas, lo sabemos. Pero también tienes debilidades en lo que alguien más es bueno así que...
					h5.header.col.s12.white-text ¿Porque no compartir en lo que eres bueno a cambio de que alguien más te ayude?	
				.row.center
					a.btn-large.waves-effect.waves.light.green.lighten-1(href='/createQuestion') ¡Pregunta!
		.parallax
			img(src='/images/biblioteca.jpeg' width=1600 height=800)

	.section.green.lighten-2
		.row.container
			h1 ¿Has escuchado alguna vez hablar del karma?
			p Trata a alguien como quieres que te traten, ayuda a alguien y esta persona buscará ayudarte. Es nuestra filosofía


