extends layout

block content
	.parallax-container
		.section.no-pad-bot
			.container
				br
				br
				h1.header.center.white-text.text-lighten-2 ¿Problemas en la escuela?	
				.row.center
					h5.header.col.s12.white-text Tienes fortalezas, lo sabemos. Pero también tienes debilidades en lo que alguien más es bueno así que...
					h5.header.col.s12.white-text ¿Porque no compartir en lo que eres bueno a cambio de que alguien más te ayude?	
				.row.center
					a.btn-large.waves-effect.waves.light.green(href='/createQuestion') ¡Pregunta!
		.parallax
			img(src='/images/biblioteca.jpeg' width=1600 height=800)
	.section.green
		.row.container
			h1.header.center.white-text.text-lighten-2 ¿Has escuchado alguna vez hablar del karma?
			h5.white-text Trata a alguien como quieres que te traten, ayuda a alguien y esta persona buscará ayudarte. Es nuestra filosofía.
	.parallax-container
		.section.no-pad-bot
			.container
				.row.center
					h1.header.center.white-text Mejora
					h5.header.center.white-text Has preguntas, responde y crea comunidad
				.row
					.col.s3.offset-s2.space.white
						h5.black-text.center Pregunta
						img(src='/images/ask.png' width=80 height=120)
						h5.black-text.center Pierde karma
					.col.s3.offset-s2.space.black
						h5.white-text.center Responde
						img(src='/images/response.png' width=125 height=120)
						h5.white-text.center Gana karma	
		.parallax
			img(src='/images/classroom.jpeg' width=1600 height=800)