doctype html
html
	head
		meta(charset='utf-8' name='viewport' content='width=device-width, initial-scale=1.0')
		title= 'Karmaflow'
		link(rel='stylesheet', href='/stylesheets/materialize.css')
		link(href='https://fonts.googleapis.com/icon?family=Material+Icons' rel='stylesheet')
		
		script(type='text/javascript' src='http://code.jquery.com/jquery.min.js')
		script(src='/javascripts/angular/angular.js')
		script(src='/javascripts/materialize.js')
		script(src='/javascripts/materialize.min.js')
		script(src='/javascripts/app.js')
		script(src='/javascripts/questionController.js')
		script(src='/javascripts/questionService.js')
		script(src='/javascripts/custom.js')
		
		
	body(ng-app='karmaflow', ng-controller='QuestionController as qC')
		.navbar-fixed
			nav.green
				.nav-wrapper
					img(src='/images/karmaflow.png' width=60 height=60)
					a.brand-logo(href='/') Karmaflow
					ul.right.hide-on-med-and-down
						li
							a(href='/questions')
								i.material-icons search
						li
							a(href='/createQuestion')
								i.material-icons note_add
						li
							a(href='/question')
								i.material-icons refresh
	block content
	footer.page-footer.green
		.container
			.row
				.col.l6.s12
					h5.white-text Karmaflow
					p.grey-text.text-lighten-4 
				.col.l4.offset-l2.s12
					h5.white-text Links
					ul
						li
							a.grey-text.text-lighten-3(href='https://github.com/Karmaflow') github
						li
							a.grey-text.text-lighten-3(href='#!') facebook
						li
							a.grey-text.text-lighten-3(href='#!') twitter
						li
							a.grey-text.text-lighten-3(href='#!') linkedin
		.footer-copyright
			.container
				© 2014 Copyright Text
