extends layout

block content
	.container
		h1.header.center.light-green-text Lista de preguntas
		.row.center
			.collection
				a.collection-item.light-green-text(href='/question')¿Exiten los ponies? 
					span.badge.col.offset-10 14
					i.material-icons.col.offset-10 grade
				a.collection-item.light-green-text(href='/question')¿2+2=5?
					span.badge 0
					i.material-icons.col.offset-10 grade
				a.collection-item.light-green-text(href='/question')¿Soy obeso?
					span.badge 5
					i.material-icons.col.offset-10 grade