extends layout

block content
	.container
		h1.header.center.light-green-text Preguntas
		form.col.s12(ng-submit = 'qC.getbyTag()' )
			.row
				.input-field.col.s5
					i.material-icons.prefix search
					input#title(type='text',placeholder = 'search')
				.col.s4
					select.browser-default(ng-model='qC.question.tag', ng-options='item.tag for item in qC.tags')
				.col.s3
					button.btn.waves-effect.waves.green(type='Search' name='go') Search
						i.material-icons.left search
			.row
				ul.collection
					li.collection-item.avatar(ng-repeat='q in qC.questions')
						.row
							.col.s11
								input(type='hidden', name='id', ng-value="q._id")
								img.circle(src='images/karma.png')
								a.collection-item(href="/question/{{q._id}}")
									span.title {{q.title}}
									p
									Second {{q.post}}
							.col.s1		
								i.material-icons grade
									span.badge 19
